# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
log-*.txt
debug_*.txt

# Coverage
coverage/

# VSCode / IDE
.vscode/
.idea/
*.swp
.DS_Store

# Build artifacts
dist/
build/

# Sequelize / DB
*.sqlite

# Secrets
src/config/serviceAccountKey.json

